/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-container {
    display: flex;
    width: 54%;
}

.line-number-container {
    padding: 0 10px;
    background-color: #3b3b3b;
}

.line-number {
    color: #fff9f9;
}

.code-textarea {
    flex: 1;
    border: none;
    resize: none;
    padding: 5px;
    background-color: #f7f7f7;
    font-family: 'Courier New', Courier, monospace; /* Set a monospace font */
     

}

.code-textarea:focus {
    outline: none;
}

